<h1 class="mt-5">Agregar productos</h1>
<hr>

<form [formGroup]="miFormulario">
    <div class="row g-3 align-items-center mb-3">
        <div class="col-auto">
            <label class="col-form-label">Nombre:</label>
        </div>
        <div class="col-auto">
            <input formControlName="nombre"
                   class="form-control">
        </div>
        <div class="col-auto">
            <!-- Antes de poner una directiva condicional personalizada -->
            <!-- <span class="form-text"
                  mensaje-error
                  [mensaje]="texto1"
                  [color]="color"
                  *ngIf="hayError('nombre')">
            
                    Este campo es obligatorio
            </span> -->

            <span class="form-text"
                  mensaje-error
                  [mensaje]="texto1"
                  [color]="color"
                  [valido]="!hayError('nombre')">
            
                    Este campo es obligatorio
            </span>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <button class="btn btn-primary"
                    (click)="cambiarNombre()">
                Guardar
            </button>
            <button class="btn btn-primary"
                    (click)="cambiarColor()">
                Cambiar Color
            </button>
        </div>
    </div>
</form>

<h3 class="mt-5">Formulario</h3>
<pre>Valid: {{ miFormulario.value | json}}</pre>
<pre>Valid: {{ miFormulario.valid }}</pre>

<div class="row mt-5"
    *ifPropio="miFormulario.valid">
    <div class="col">
        <div class="alert alert-primary">
            Todo OK
        </div>
    </div>
</div>