<h2>Validaciones Reactivas</h2>
<hr>

<div [formGroup]="miFormulario"
    (ngSubmit)="envio()"
    class="row">
    <div class="col">

        <form autocomplete="off">

            <!-- Nombre -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           formControlName="nombre"
                           placeholder="Nombre del usuario">

                    <span *ngIf="campoValido('nombre')" 
                        class="form-text text-danger">
                        Debe de ser en formato de nombre y apellido
                    </span>
                </div>
            </div>

            <!-- Email -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input type="email"
                           class="form-control"
                           formControlName="correo"
                           placeholder="Email del usuario">
                    <span *ngIf="campoValido('correo')"
                    class="form-text text-danger">
                        mensaje de error del email
                    </span>
                </div>
            </div>

            <!-- Username -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           formControlName="usuario"
                           placeholder="Nombre código del usuario">
                    <span *ngIf="campoValido('usuario')"
                    class="form-text text-danger">
                         El username no puede ser Pepe
                    </span>
                </div>
            </div>

            <!-- Password -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                    <input type="password"
                           class="form-control"
                           formControlName="passwd"
                           placeholder="Password de su cuenta">

                    <span *ngIf="campoValido('passwd')"
                    class="form-text text-danger">
                         La contraseña debe de ser mayor de 6 caracteres.
                    </span>
                </div>
            </div>

            <!-- Password2 -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Confirmar</label>
                <div class="col-sm-9">
                    <input type="password"
                           class="form-control"
                           formControlName="passwd2"
                           placeholder="Confirmar la contraseña">

                    <span *ngIf="campoValido('passwd2')"
                    class="form-text text-danger">
                         Las contraseñas deben de ser iguales
                    </span>
                </div>
            </div>


            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-end"
                            type="submit">
                        Crear
                    </button>
                </div>
            </div>


        </form>
    </div>
</div>


<h2>Form Valid: {{ miFormulario.valid }} </h2>
<h2>Form Status: {{ miFormulario.status }} </h2>
<h2>Form Pending: {{ miFormulario.pending }} </h2>
<h2>Form errors</h2>
<pre>{{ miFormulario.errors| json }}</pre>

<h5>Nombre</h5>
<pre>{{ miFormulario.controls['nombre'].errors | json }}</pre>

<h5>Email</h5>
<pre>{{ miFormulario.controls['correo'].errors| json }}</pre>

<h5>Username</h5>
<pre>{{ miFormulario.controls['usuario'].errors | json }}</pre>

<h5>Password</h5>
<pre>{{ miFormulario.value.passwd | json }}</pre>

<h5>Confirmar</h5>
<pre>{{ miFormulario.controls['passwd2'].errors | json }}</pre>
<!-- TODO: no se muestra de forma correcta el error, pero si se hace la validación-->
